.container
  .hero-unit
    h1 Meet #{person.first}.
    if person.ovaries
      h2 She calls #{person.dorm} her #{person.ovaries.pron} home.
    else 
      h2 He calls #{person.dorm} his #{person.ovaries.pron} home.
    br
    if person.groups.length > 0
      if person.ovaries
        h3 She's in these groups:
      else 
        h3 He's in these groups:
      ul
        each group in person.groups
          li
            a.find-link(style="color:white;font-size:17px", href="/lounge/groups/#{group.id}", data-route) #{group.name}
    else
      h3 He hasn't listed any groups!